body {
            font-family: Arial, sans-serif;
            background: #f2f2f2;
        }

        /* FORM CONTAINER */
        .form-container {
            width: 700px;
            margin: 40px auto;
            background: white;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: hidden;
        }

        /* HEADER */
        .form-header {
            background: #0d6efd;
            color: white;
            padding: 12px 15px;
            font-size: 16px;
        }

        /* BODY */
        .form-body {
            padding: 20px;
        }

        .form-row {
            display: flex;
            gap: 20px;
            margin-bottom: 15px;
        }

        .form-group {
            flex: 1;
        }

        label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
        }

        input,
        select {
            width: 100%;
            padding: 7px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* RADIO */
        .radio-group {
            display: flex;
            gap: 20px;
            margin-top: 5px;
        }

        /* FOOTER */
        .form-footer {
            padding: 12px 15px;
            border-top: 1px solid #ddd;
            text-align: right;
        }

        .btn-save {
            background: #198754;
            color: white;
            padding: 6px 14px;
            border-radius: 4px;
            border: none;
        }

        .btn-cancel {
            background: #6c757d;
            color: white;
            padding: 6px 14px;
            border-radius: 4px;
            border: none;
            margin-left: 5px;
        }

        .radio-inline {
            display: flex;
            gap: 0px;
            margin-top: 5px;
            padding-left: 0;
            /* QUAN TRá»ŒNG */
        }

        .radio-inline label {
            margin: 0;
            font-size: 14px;
        }